<%- include('../partials/header') %>
    <h1>Account Dashboard</h1>
    
    <div class="dashboard-welcome">
    <h2 class="welcome">Welcome back <%= user.email %>!</h2>
</div>

<div class="dashboard-content">
        <h3>Quick Actions</h3>
        <ul>
            <% if ( user.role_name === "management") { %>
                <li><a href="/manage/vehicle">Manage Vehicles</a></li>
                <li><a href="/manage/category">Manage Categories</a></li>
                <li><a href="/contact/messages">View Messages</a></li>
            <% } else if (user.role_name === "employee") { %>
                <li><a href="/manage/vehicle">Edit Vehicles</a></li>
                <li><a href="/reviews/manage">Manage Reviews</a></li>
                <li><a href="/repair/manage">View Repair Requests</a></li>
                <li><a href="/contact/messages">Messages</a></li>
            <% } else { %>
                <li><a href="/account/update/email">Update Email</a></li>
                <li><a href="/account/update/password">Update Password</a></li>
                <li><a href="/reviews">Manage Your Reviews</a></li>
                <li><a href="/repair">Repair Requests</a></li>
            <% } %>
        </ul>
</div>

    <div class="logout-section">
        <form action="/account/logout" method="POST" class="logout-form">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
<%- include('../partials/footer') %>