<%- include('partials/header') %>
<h1>Vehicle Categories</h1>

<!-- display vehicle categories, figure out how to use params for category id -->
<a href="/categories">Category 1</a>
<a href="/categories">Category 2</a>
<a href="/category">Category 3</a>

<%- include('partials/footer') %>