<%- include('partials/header') %>

<!-- to display all cars in this category -->

<h1>Trucks</h1>

<ul>
    <li><a href="/vehicleDetail">Truck 1</a></li>
    <li>Truck 2</li>
    <li>Truck 3</li>
</ul>
<%- include('partials/footer') %>