<%- include('partials/header') %>
<h1>Add a Category</h1>
<form action="/manage/category/add" method="POST">
    <label for="name">Category Name:</label>
    <input name="name">
    <label for="description">Category Description:</label>
    <textarea name="description"></textarea>
    <button type="submit">Add Category</button>
</form>

<%- include('partials/footer') %>