<% if (successMessages.length > 0) { %>
  <div class="flash-message flash-success">
    <% successMessages.forEach(msg => { %>
      <p><%= msg.message %></p>
    <% }) %>
  </div>
<% } %>

<% if (errorMessages.length > 0) { %>
  <div class="flash-message flash-error">
    <% errorMessages.forEach(msg => { %>
      <p><%= msg.message %></p>
    <% }) %>
  </div>
<% } %>

