<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/images/site/favicon-32x32.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="/images/site/car.png" alt="Logo"></a>
            <ul>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/categories">Vehicle Categories</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>            
            </ul>
        </nav>
    </header>
    <main>

