<%- include('../partials/header') %>
<h1>Update <%= repair.vehicle_name %> Repair Request</h1>
<form action="/repair/edit/<%= repair.id %>" method="POST">
    <div>
        <select name="status" id="status">
        <option value="Pending">Pending</option>
        <option value="In Progress">In progress</option>
        <option value="Completed">Completed</option>
    </select>
    </div>
    <button type="submit">Update Status</button>
</form>

<%- include('../partials/footer') %>